[Unit]
Description=Yandex Music NFSv3 server
Documentation=https://github.com/vm86/yandex-music-fusefs
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStart=%h/.local/bin/yamusic-fs
RestartSec=10
Restart=always

[Install]
WantedBy=default.target
